# Игнорировать всё
*
.vs/

# Разрешить .gitignore
!.gitignore

# Разрешить вход в папки
!*/

# Разрешить исходные файлы
!*.cpp
!*.c
!*.h
!*.hpp
!*.py
!*.java
!*.js
!*.ts
!*.cs
!*.go
!*.rb
!*.swift
!*.kt
!*.rs
!*.php
!*.html
!*.css

# Разрешить текстовые и документационные файлы
!*.txt
!*.md
!*.json
!*.xml
!*.yml
!*.yaml
!*.toml
!*.ini
!*.cfg