# Игнорировать всё
*

# Разрешить .gitignore
!.gitignore

# Разрешить вход в папки
!*/

# Разрешить исходные файлы
!*.cpp
!*.c
!*.h
!*.hpp
!*.py
!*.java
!*.js
!*.ts
!*.cs
!*.go
!*.rb
!*.swift
!*.kt
!*.rs
!*.php
!*.html
!*.css

!*.xml
!*.txt
!*.pdf